<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums</title>
</head>
<body>
    <h1>Albums:</h1>

    <% data.forEach(elm => { %>

        <a href=></a>
        <h2><%= elm.id %></h2>

        <p><%= elm.name %> </p>
        <p><%= elm.images[1].url %> </p>
        <img src=<%= elm.images[1].url %> alt="">

        <a href=<%=`/album/${elm.id}`%>>
            <h3>Details</h3>
        </a>

    <% }) %>

</body>
</html>